{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">دەربارەی ئێمە</div>
    <img src="{{ url_for('static', filename='img/sha.jpg') }}" alt="Image">
    <div class="card-body">
        <p>
    به‌رێوه‌به‌رایه‌تی گشتی ته‌ندروستی هه‌ولێر یه‌کێکه له به‌رێوه به‌‌رایه‌تیه گشتیه‌کانی و‌ه‌زاره‌تی ته‌ندروستی له‌ حکومه‌تی هه‌رێمی کوردستان، ده‌‌که‌وێته باڵه‌خانه‌یه‌ک له‌ به‌شی رۆژئاوای شاری هه‌ولێر نزیک سه‌نته‌ری شار (قه‌لای هه‌ولێر).
        </p>
        <p>
    تۆرێک که له (15) نه‌خۆشانه و (186) بنکه‌ی ته‌ندروستی و ژماره‌یه‌ک له‌ ده‌زگای ته‌ندروستی که‌سه‌ر به‌م فه‌رمانگه‌یه‌ن و له‌لایه‌ن به‌ڕێوه‌به‌ری گشتی و 7 به‌شی ئه‌م فه‌رمانگایه سه‌رپه‌رشتی ده‌کرێ که‌ له‌ رووبه‌ڕی (17981) کم (رووبه‌ڕی پارێزگای هه‌ولێر) خزمه‌ت گوزاری ده‌گه‌یه‌نێته (1،439،774) هاوولاتی له پارێزگای هه‌ولێر.
        </p>
    </div>
</div>
{% endblock content %}