{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">ناونیشانی ئیمێڵه‌کان</div>
    <div class="card-body">
        <table class="table">
            <tr>
                <td>
                    ئیمێڵی سه‌ره‌کی
                </td>
                <td>
                    info@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    به‌شی ئه‌ندازه‌
                </td>
                <td>
                    andaza@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    هۆبه‌ی مامانی
                </td>
                <td>
                    midwifery@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    هۆبه‌ی خوێندنی باڵا
                </td>
                <td>
                    drasat@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    فێرکردنی په‌رستاری به‌رده‌وام
                </td>
                <td>
                    ferkrdn-partari@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    ناردنی سکاڵا
                </td>
                <td>
                    skalabox@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    سه‌نته‌ری ڕاهێنان
                </td>
                <td>
                    tdcerbildoh@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    تایبه‌ت به‌ پزیشکانی نیشته‌جێ ی دێرینی
                </td>
                <td>
                    nderini@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    تایبه‌ت به‌ پزیشکانی شاره‌زا
                </td>
                <td>
                    sharaza@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    تایبه‌ت به‌ پزیشکانی پسپۆڕ
                </td>
                <td>
                    pspor@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    به‌شی راگه‌یاندن
                </td>
                <td>
                    media@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    هۆبه‌ی ئامار
                </td>
                <td>
                    stat@dohhawler.org
                </td>
            </tr>
            <tr>
                <td>
                    هۆبه‌ی په‌رستاری
                </td>
                <td>
                    nursing@dohhawler.org
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}