{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">بەشەکانی بەرێوەبەرایەتی گشتی</div>
    <div class="card-body">
        <table class="table">
            <tr><td><a class="btn" href="#">
            نوسینگەى بەرێوەبەرى گشتى
            </a></td></tr>
            <tr><td>
                <div id="accordion">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapsePlanDep">
                    بەشی پلان
                    </a>
                </div>
                <div id="collapsePlanDep" class="collapse" data-bs-parent="#accordion">
                    <table class="table table-light">
                    <tr><td><a class="btn" href="#">
                    هۆبەى پەرستیاری
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    هۆبەی خوێندی باڵا
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    نوسینگەی لەدایک بووان و مردووان
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    هۆبەی ئامار
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    هۆبەی مالپەر و پرۆگرام
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    ھۆبەی ھێزی کار
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    ھۆبەی فێرکردنی پەرستاری بەردەوام
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    ھۆبەی مامانی
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    سەنتەری ڕاھێنان
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    هۆبەی فێرکردنی پیشەیی بەردەوام
                    </a></td></tr>
                    <tr><td><a class="btn" href="#">
                    هۆبەی توێژینەوەى زانستى
                    </a></td></tr>
                    </table>
                </div>
            </td></tr>
            <tr><td><a class="btn" href="#">
            بەشی کارگێری
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی ژمێریاری
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی ووردبینی
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی کاروباری ھونەری
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشى ئەندازە
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی خزمەت گوزاری
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی یاسایی
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی گرێبەستەکان
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی ڕاگەیاندن
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی پشکنین وبەدواداچوون
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی کردەپزیشکەکان
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی دەرمان و پێداویستی پزیشکی
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی ئامێری پزیشکی
            </a></td></tr>
            <tr><td><a class="btn" href="#">
            بەشی دڵنیایی جۆری
            </a></td></tr>
        </table>
    </div>
</div>
{% endblock content %}