{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">بەرێوەبەرایەتی تەندروستی</div>
    <div class="card-body">
        <table class="table">
            <tr><td><a class="btn" href="#">
                ب. تاقیگەی تەندروستی گشتی ھەولێر
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                ب. تەندروستی دەوروبەر
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                ب. تەندروستی شەقڵاوە
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                ب. تەندروستی سۆران
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                ب. تەندروستی بارزان
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                ب. تەندروستی چۆمان
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                کەرتی تەندروستی مەخموور
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                ب. کاروباری پاراستنی تەندروستی
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                ب. تەندروستی ناو شار
            </a></td></tr>
        </table>
    </div>
</div>
{% endblock content %}