{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">فۆرمى پێویست</div>
    <div class="card-body">
        <table class="table">
            <tr><td><a class="btn" href="#">
                فۆرمی لێژنەی ڕاوێژکاری لاری نەبوون بۆ خوێندنی باڵا
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فۆرمی گواستنەوەی ڕاژەی فەرمانبەران و کارمەندان
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فۆرمی تایبەت بە پێشكەش كردن بۆ نیشتەجێی دێرین
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فۆرمی به‌خشین له‌ نیسته‌جێی دێرینی
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فۆرمی داواکردنی پوخته‌ی راژه‌
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فۆرمی پوخته‌ی راژه‌ به‌ زمانی ئینگلیزی
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فۆڕمی لاری نه‌بوون بۆ خوێندنی باڵا
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فۆرمی گواستنەوەی فەرمانبەران و کارمەندان
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فۆرمی گواستنه‌وه‌ی پزیشکی (پله‌به‌ند ،شاره‌زای گشتی، شاره‌زای لق)
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فۆرمی مۆڵه‌تی ئاسایی (پزیشکی نیشته‌جێی خولاو و پزیشکی نیشته‌جێی دێرینی)
            </a></td></tr>
        </table>
    </div>
</div>
{% endblock content %}