{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-header">تۆمارکردن</div>
    <div class="card-body">
        <table class="table">
            <tr><td><a class="btn" href="#">
                پزیشکانى گشتى
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                پزیشکانى ددان
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                پزیشکانى دەرمانسازی
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                پەرستاران
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                کارمەندانى تاقیگە
            </a></td></tr>
            <tr><td><a class="btn" href="#">
                فەرمانبەرانی تەندروستى
            </a></td></tr>
        </table>
    </div>
</div>
{% endblock content %}