@font-face {
    font-family: ubuntuKurdish;
    src: url(Ubuntu-Kurdish-Kurdfont.ttf);
}

.font-rtl {
    font-family: ubuntuKurdish;
}

.font-ltr {
    font-family: 'Ubuntu', serif;
}

.bg-official {
    background-color: #c1a04d;
}